{
    "extends": "eslint:recommended",
        "env": {
            "es6":     true,
            "node":    true,
            "browser": true,

        },
        "ecmaFeatures": {
            "jsx": true

        },
        "rules": {
            "strict": true,
            "semi": [2, "always"],
            "no-undef": 2

        }

}
